---
---
<div class="social-links">
  <a href="https://github.com/germanbarriosg" target="_blank">GitHub</a>
  <a href="https://linkedin.com/in/germán-barrios-garcia-81b973346/" target="_blank">LinkedIn</a>
</div>

<style>
  .social-links { display: flex; gap: 1rem; margin-top: 1rem; }
  a { color: #38bdf8; text-decoration: none; font-weight: 600; }
  a:hover { text-decoration: underline; }
</style>